src/TVProgMvc/TVProgViewer.WebUI/Connected Services/MainServiceReferences/MainService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3999/MainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.Users" />
  <xs:import schemaLocation="http://localhost:3999/MainService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.ProgObjs" />
  <xs:import schemaLocation="http://localhost:3999/MainService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:3999/MainService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation="http://localhost:3999/MainService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passExtend" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="middleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="birthDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobPhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="otherPhone1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="otherPhone2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gmtZone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHashes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHashesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.Users" minOccurs="0" name="GetHashesResult" nillable="true" type="q1:SecureData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.Users" minOccurs="0" name="GetUserResult" nillable="true" type="q2:User" />
        <xs:element minOccurs="0" name="errCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProviderTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProviderTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.ProgObjs" minOccurs="0" name="GetProviderTypeListResult" nillable="true" type="q3:ArrayOfProviderType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemChannelList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TVProgProviderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemChannelListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.ProgObjs" minOccurs="0" name="GetSystemChannelListResult" nillable="true" type="q4:ArrayOfSystemChannel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserChannelList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:long" />
        <xs:element minOccurs="0" name="typeProgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserChannelListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.ProgObjs" minOccurs="0" name="GetUserChannelListResult" nillable="true" type="q5:ArrayOfUserChannel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInSystemChannels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:long" />
        <xs:element minOccurs="0" name="progProviderID" type="xs:int" />
        <xs:element minOccurs="0" name="typeProgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInSystemChannelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.ProgObjs" minOccurs="0" name="GetUserInSystemChannelsResult" nillable="true" type="q6:ArrayOfSystemChannel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemProgrammeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeProgID" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="dateTimeOffset" type="q7:DateTimeOffset" />
        <xs:element minOccurs="0" name="mode" type="xs:int" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sidx" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="rows" type="xs:int" />
        <xs:element minOccurs="0" name="genres" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemProgrammeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="GetSystemProgrammeListResult" type="q8:KeyValuePairOfintArrayOfSystemProgrammemnKniqT0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemProgrammePeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeProgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemProgrammePeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.ProgObjs" minOccurs="0" name="GetSystemProgrammePeriodResult" type="q9:ProgPeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemProgrammeDayList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeProgID" type="xs:int" />
        <xs:element minOccurs="0" name="cid" type="xs:int" />
        <xs:element minOccurs="0" name="tsStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tsStop" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemProgrammeDayListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.ProgObjs" minOccurs="0" name="GetSystemProgrammeDayListResult" nillable="true" type="q10:ArrayOfSystemProgramme" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userChannelID" type="xs:int" />
        <xs:element minOccurs="0" name="uid" type="xs:long" />
        <xs:element minOccurs="0" name="tvProgProviderID" type="xs:int" />
        <xs:element minOccurs="0" name="cid" type="xs:int" />
        <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderCol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserChannelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:long" />
        <xs:element minOccurs="0" name="cid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserChannelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProgrammeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:long" />
        <xs:element minOccurs="0" name="typeProgID" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="dateTimeOffset" type="q11:DateTimeOffset" />
        <xs:element minOccurs="0" name="mode" type="xs:int" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sidx" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="rows" type="xs:int" />
        <xs:element minOccurs="0" name="genres" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProgrammeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.ProgObjs" minOccurs="0" name="GetUserProgrammeListResult" nillable="true" type="q12:ArrayOfSystemProgramme" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProgrammeDayList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:long" />
        <xs:element minOccurs="0" name="typeProgID" type="xs:int" />
        <xs:element minOccurs="0" name="cid" type="xs:int" />
        <xs:element minOccurs="0" name="tsStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tsStop" type="xs:dateTime" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProgrammeDayListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.ProgObjs" minOccurs="0" name="GetUserProgrammeDayListResult" nillable="true" type="q13:ArrayOfSystemProgramme" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProgramme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeProgID" type="xs:int" />
        <xs:element minOccurs="0" name="findTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sidx" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="rows" type="xs:int" />
        <xs:element minOccurs="0" name="genres" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dates" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProgrammeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.ProgObjs" minOccurs="0" name="SearchProgrammeResult" nillable="true" type="q15:ArrayOfSystemProgramme" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUserProgramme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:long" />
        <xs:element minOccurs="0" name="typeProgID" type="xs:int" />
        <xs:element minOccurs="0" name="findTitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUserProgrammeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.ProgObjs" minOccurs="0" name="SearchUserProgrammeResult" nillable="true" type="q16:ArrayOfSystemProgramme" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCatalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCatalogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeChannelImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:long" />
        <xs:element minOccurs="0" name="userChannelId" type="xs:int" />
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contentType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="length" type="xs:int" />
        <xs:element minOccurs="0" name="length25" type="xs:int" />
        <xs:element minOccurs="0" name="pathOrig" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path25" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeChannelImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenres">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="all" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.ProgObjs" minOccurs="0" name="GetGenresResult" nillable="true" type="q17:ArrayOfGenre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iconId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="visible" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGenreResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="genreId" type="xs:long" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="visible" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGenreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="genreId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGenreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeGenreImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:long" />
        <xs:element minOccurs="0" name="genreId" type="xs:long" />
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contentType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="length" type="xs:int" />
        <xs:element minOccurs="0" name="pathOrig" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path25" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeGenreImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenreClassificators">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenreClassificatorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.ProgObjs" minOccurs="0" name="GetGenreClassificatorsResult" nillable="true" type="q18:ArrayOfGenreClassif" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGenreClassificator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gid" type="xs:long" />
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="containPhrases" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nonContainPhrases" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deleteAfterDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGenreClassificatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGenreClassificatorResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGenreClassificator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="genreClassificatorId" type="xs:long" />
        <xs:element minOccurs="0" name="gid" type="xs:long" />
        <xs:element minOccurs="0" name="containPhrases" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nonContainPhrases" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deleteAfterDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGenreClassificatorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGenreClassificator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="genreClassificatorId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGenreClassificatorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpGenreClassificateElem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="genreClassificatorId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpGenreClassificateElemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownGenreClassificateElem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="genreClassificatorId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownGenreClassificateElemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.ProgObjs" minOccurs="0" name="GetRatingsResult" nillable="true" type="q19:ArrayOfRating" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:long" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iconId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="visible" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRatingResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ratingId" type="xs:long" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="visible" type="xs:boolean" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="deleteDate" nillable="true" type="q20:DateTimeOffset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRatingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ratingId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRatingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRatingImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:long" />
        <xs:element minOccurs="0" name="ratingId" type="xs:long" />
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contentType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="length" type="xs:int" />
        <xs:element minOccurs="0" name="pathOrig" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path25" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRatingImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingClassificators">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingClassificatorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.ProgObjs" minOccurs="0" name="GetRatingClassificatorsResult" nillable="true" type="q21:ArrayOfRatingClassif" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRatingClassificator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rid" type="xs:long" />
        <xs:element minOccurs="0" name="uid" type="xs:long" />
        <xs:element minOccurs="0" name="containPhrases" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nonContainPhrases" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deleteAfterDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRatingClassificatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRatingClassificatorResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRatingClassificator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ratingClassificatorId" type="xs:long" />
        <xs:element minOccurs="0" name="rid" type="xs:long" />
        <xs:element minOccurs="0" name="containPhrases" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nonContainPrhases" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deleteAfterDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRatingClassificatorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRatingClassificator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ratingClassificatorId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRatingClassificatorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpRatingClassificateElem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ratingClassificatorId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpRatingClassificateElemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownRatingClassificateElem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ratingClassificatorId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownRatingClassificateElemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>