src/TVProgMvc/TVProgViewer.WebUI/Connected Services/MainServiceReferences/MainService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3999/MainService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.ProgObjs" />
  <xs:import schemaLocation="http://localhost:3999/MainService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="KeyValuePairOfintArrayOfSystemProgrammemnKniqT0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfSystemProgramme" Namespace="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.ProgObjs" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.ProgObjs" name="value" nillable="true" type="q1:ArrayOfSystemProgramme" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfintArrayOfSystemProgrammemnKniqT0" nillable="true" type="tns:KeyValuePairOfintArrayOfSystemProgrammemnKniqT0" />
</xs:schema>