src/TVProgViewer/Service References/TvProgServiceReference/MainService52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.Users" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TVProgViewer.BusinessLogic.Users" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SecureData">
    <xs:sequence>
      <xs:element minOccurs="0" name="PassExtend" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecureData" nillable="true" type="tns:SecureData" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="GmtZone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobilePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherPhone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherPhone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:short" />
      <xs:element minOccurs="0" name="UserID" type="xs:long" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>